*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  font-family: 'Poppins', sans-serif;
}
.navbar{
  z-index: 2;

}
.navbar-brand{
  letter-spacing: 1px;
  font-size: 30px;
  color: #000;
  font-style: oblique;
  font-weight: 700;
}
.nav-item{
  margin-right: 0.5rem;
}
.nav-link{
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #000;
  font-size: 19px;
}
li:hover{
   border: 2px solid #540b0e;
}
.header{
  background-image:url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.h-center{
 margin-left: 4rem;
  padding-top: 10%;
  color:#d62828;
  font-size: 1.5rem;
  
  
}
.h-center h1 i{
  font-size: 3rem;
  color: #a6a6a6;
  
}

.row{
  margin: 0;
  padding: 0;
}
.about{
  padding-top: 20px;
  
}
.left-col{
  background-color: #000;
  color: white;
  
}
.left-col h1{
  padding: 30px 50px;
}
.left-col p{
  padding: 5px 50px;
}
.right-col img{
  width: 500px;
  height: 500px;
}
.skills-title{
  text-align: center;
}
.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;}
  .skills-title {
    margin-top: 2rem;}
    .title {
      position: relative;
      text-align: center;
      padding-bottom: 23px;
      color: black;
    }
    .title::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 180px;
      height: 3px;
      background: black;
      transform: translateX(-50%);
    }
    .title::after {
      content: "what i know";
      position: absolute;
      bottom: -12px;
      left: 50%;
      font-size: 20px;
      color: #9907fa;
      padding: 5px;
      background: #ffffff;
      transform: translateX(-50%);
    }
  
  .skills-row {
    margin-top: 4rem;
  }
  .skills-left-col{
    margin-left: 50px;
  }

        .card-title {
          font-weight: 650;
          letter-spacing: 1px;
        }
        .card-text {
          font-weight: 500;
        }
      
    
    
      .bars {
        margin-bottom: 15px;}
        .info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;}
          span {
            font-size: 19px;
            font-weight: 500;
          }
        
        .line {
          height: 5px;
          width: 100%;
          background-color: lightgrey;
          position: relative;
        }
        .line::before {
          content: "";
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          background-color: #d62828;
        }
        .html::before {
          width: 95%;
        }
        .css::before {
          width: 95%;
        }
        .sass::before {
          width: 90%;
        }
        .bootstrap::before {
          width: 90%;
        }
        .js::before {
          width: 70%;
        }
        .react::before {
          width: 70%;
        }
        .redux::before {
          width: 75%;
        }
        .container{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      
    
  
